*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  max-width: 30%;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 12vh;
  background: #222222;
}

.nav-inner {
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

.service-submenu {
  position: relative;
}

.service-submenu:hover .submenu-option1 {
  /* display: block; */
  animation: fadeInSlideDown 250ms ease;
  animation-fill-mode: forwards;
}

.submenu-option1 {
  position: absolute;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
  opacity: 0;
  visibility: hidden;
}

.submenu-option1 a {
  font-size: 16px;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: all 250ms ease;
}

.submenu-option1 a:hover {
  color: black;
}

.services-link {
  pointer-events: none;
}

/* do some dropdown menu animations */
@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}
@keyframes fadeInSlideLeft {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}

.transportation-menu {
  position: relative;
}

.transportation-menu:hover .transportation-submenu {
  animation: fadeInSlideLeft 250ms ease;
  animation-fill-mode: forwards;
}

.transportation-submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 100%;
  top: 0;
  background-color: grey;
  opacity: 0;
  visibility: hidden;
}

.transportation-submenu a:hover .transportation-menu a {
  color: blue;
}

.transportation-grid {
  padding-top: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-cell img {
  max-width: 250px;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.title-wrapper img {
  width: 90px;
  height: auto;
}

.service-freight-wrapper {
  display: flex;
  align-items: center;
}
.service-freight-wrapper p {
  padding-left: 20px;
}
.service-freight-wrapper img {
  width: 40vw;
}
